<html>
<head>
    <title>Notebook</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/marked"></script>

<div id="notebook">
    <aside class="side-bar">
        <div class="toolbar">
            <button @click="addNote" :title="addButtonTitle">
                <i class="material-icons">add</i> Add note
            </button>
            <div class="notes">
                <div class="note"
                     v-for="note of notes"
                     @click="selectNote(note)"
                     :class="{selected: note === selectedNote}">
                    {{ note.title }}
                </div>
            </div>
        </div>
    </aside>
    <section class="main">
        <textarea v-if="selectedNote" v-model="selectedNote.content"></textarea>
    </section>
    <aside class="preview" v-html="notePreview"></aside>
</div>

<script src="script.js"></script>
<script>
    console.log("Restored note:", localStorage.getItem("content"));
</script>
</body>
</html>
